h4 {
    font-size: 1.25em;
    flex: 1;
}
h5 {
    color: grey;
    text-align: end;
    font-weight: 100;
}
h6 {
    font-size: 0.8em;
    color: grey;
}

#hero {
    height: 250px;
}

#back_link p {
    text-decoration: underline;
    color: #ffa800;
}

@property --grad{
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
  }

.post {
    --grad:0%;
    transition:--grad 500ms;
    height: 100px;
    display: flex;
    padding: 10px;
    border-bottom: solid 1px rgba(128, 128, 128, 0.75);
    background: linear-gradient(0deg, rgba(128, 128, 128, 0.25) 0%, rgba(128, 128, 128, 0) var(--grad));
}

.post:hover {
    border-bottom: solid 1px rgba(255, 168, 0, 0.75);
    --grad:25%;
}

.post .thumbnail {
    transition: 500ms;
}

.post:hover .thumbnail {
    scale: 105%;
}

.info {
    width: 100%;
    padding-inline: 10px;
    display: flex;
    flex-direction: column;
}

.thumbnail {
    background-size: cover;
    border-radius: 5px;
    height: 100%;
    aspect-ratio: 4/3;
    display: inline-block;
}

.thumbnail img {
    height: 100%;
}

#blog_info {
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#blog_info p {
    display: inline;
}

main section a {
    color: #ffa800;
    text-decoration: underline;
}

main section ul {
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

main section ul li {
    padding: 10px;
    border-bottom: solid 1px black;
    transition: 500ms;
}

main section ul li:hover {
    border-bottom: solid 1px #ffa800;
}

main section ul li a {
    font-size: 1.2em;
    color: black;
    transition: 500ms;
    text-decoration: none;
}

main section ul li a:hover {
    color: #ffa800;
    text-decoration: underline;
}

@media (max-width: 320px) {
    section#blog_list {
        margin-inline: 0;
    }
    .info {
        font-size: 0.75em;
    }
}

@media (min-width: 320px) {
    section#blog_list {
        margin-inline: 0;
    }
    .info {
        font-size: 0.8em;
    }
}

@media (min-width: 500px) {
    .info {
        font-size: 1em;
    }
    section#blog_list {
        margin-inline: 10%;
    }
}

@media (min-width: 760px) {
    section#blog_list {
        margin-inline: auto;
    }
}