#applications {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

section a {
    display: block;
    margin-block: 10px;
}

section a h2 {
    display: inline;
}

section a img {
    height: 1.5em;
    margin-left: 15px;
}

.tile {
    
    flex: 1;
    min-width: 250px;
    border-radius: 15px;
    color: white;
    background-size: cover;
    overflow: hidden;
    aspect-ratio: 3/2;
    transition: box-shadow 500ms, scale 500ms;
}

.tile:hover {
    scale: 105%;
    box-shadow: -2px 2px 5px black;
}

.tile_wrap {
    display: block;
    height: 100%;
    max-height: fit-content;
    box-shadow: 0 0 5px black;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    transition: backdrop-filter 500ms;
}

.tile_wrap h3{
    display: inline;
}

.tile_wrap p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile_wrap img{
    height: 2em;
    float: inline-end;
    filter: drop-shadow(0px 0px 2px black);
}

.tile_wrap:hover {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(15px);
}

#downloads {
    display: flex;
    flex-wrap: wrap;
}

.panel {
    flex: 1;
    min-width: 250px;
    padding: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slideshow {
    aspect-ratio: 1/1;
    padding: 15px;
    min-width: 256px;
    max-width: 350px;
    perspective: 800px;
}

.slideshow img {
    border-radius: 5px;
    width: 100%;
}

.image {
    position: relative;
    margin: auto;
    height: 75px;
    transition: 500ms;
}

.image:hover {
    scale: 105%;
    /* transform: translate(50px, 0px); */
}

.fade {
    position: absolute;
    left: 0;
    top: 0;
}

[data-view="1"] {
    z-index: 5;
}

[data-view="2"] {
    filter: blur(1px);
    z-index: 4;
    width: 90%;
}

[data-view="3"] {
    filter: blur(2px);
    z-index: 3;
    width: 80%;
}

.swapDown {
    animation-duration: 500ms;
    animation-name: swapDown;
}

.swapUp {
    animation-duration: 500ms;
    animation-name: swapUp;
}

.videos {
    display: flex;
    flex-wrap: wrap;
}

.videos div.video {
    flex: 1;
    aspect-ratio: 16/9;
    border-radius: 15px;
    overflow: hidden;
    width: 365px;
    min-width: 200px;
    max-width: 100%;
}

.videos div iframe {
    width: 100%;
    height: 100%;
}

.blog {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.blog a {
    flex: 1 0 calc(33.33% - 15px);
    width: 30%;
    min-width: 175px;
}

.blog figure {
    width: 100%;
    aspect-ratio: 4/3;
    position:relative;
    border-radius: 5px;
    overflow: hidden;
    transition: box-shadow 500ms, scale 500ms;
}

.blog figure:hover {
    box-shadow: -2px 2px 5px black;
    scale: 105%;
}

.blog figure div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(0.5);
    transition: scale 500ms;
}

.blog figure div:hover {
    scale: 105%;
}

.blog figure figcaption {
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 10px;
}




@keyframes swapUp {
    from {
        transform: translate(0, 0) rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: translate(0, -85px) rotate3d(1, 0, 0, -45deg);
    }
    to {
        transform: translate(0, 0) rotate3d(1, 0, 0, 0deg);
    }
}

@keyframes swapDown {
    from {
        transform: translate(0, 0) rotate3d(1, 0, 0, 0deg);
    }
    50% {
        transform: translate(0, 85px) rotate3d(1, 0, 0, 45deg);
    }
    to {
        transform: translate(0, 0) rotate3d(1, 0, 0, 0deg);
    }
}



@media (max-width: 320px) {
    .slideshow {
        padding: 0;
    }
    .videos div.video iframe {
        width: 256px;
    }
    .tile {
        aspect-ratio: 1/1;
    }
}

@media (min-width: 320px) {
    .slideshow {
        margin: auto;
    }
    .tile {
        aspect-ratio: 1/1;
    }
    .text {
        margin-bottom: 0px;
    }
}

@media (min-width: 750px) {
    .tile {
        aspect-ratio: 3/2;
    }
    .text {
        margin-bottom: 50px;
    }
}

