h5 {
    font-size: 0.8em;
    padding-block: 10px;
}

#hero {
    height: 250px;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.applications a {
    border-radius: 15px;
    flex: 1;
    aspect-ratio: 1/1;
    overflow: hidden;
    border: solid 1px rgba(128, 128, 128, 0.5);
    background-size: cover;
}

main img {
    display: block;
    margin: auto;
    width: 100%;
}

.app {
    height: 100%;
    aspect-ratio: 1/1;
    color: white;
    backdrop-filter: brightness(50%);
}

.info {
    padding: 10px;
    bottom: 0px;
}

.info h4 {
    font-size: 1.5em;
}

.appDetails {
    background-color: var(--accent10);
    border: solid 1px var(--accent50);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    margin-block-end: 25px;
}

.appDetails img {
    display: inline;
    width: 150px;
    padding: 25px;
    filter: drop-shadow(-2px 2px 5px rgba(0, 0, 0, 0.5));
}

.appDetails .description h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.appDetails .description p.tags {
    flex: 0;
    padding: 2px 5px;
    margin-block: 10px;
    display: inline;
    color: var(--accent);
    text-align: center;
    font-weight: 100;
}

.appDetails .description .downloads {
    display: flex;
    text-wrap: nowrap;
    float: inline-end;
    gap: 15px;
    margin: 10px;
}

.appDetails .description button.versions {
    flex: 0;
    font-size: 1em;
    padding: 2px 10px;
    float: right;
    border-radius: 15px;
    display: inline;
    color: var(--accent);
    border: none;
    background-color: transparent;
    text-align: center;
    font-weight: 100;
    cursor: pointer;
}

.appDetails .description button.download {
    flex: 0;
    font-size: 1em;
    padding: 2px 10px;
    float: right;
    border-radius: 15px;
    display: inline;
    color: white;
    border: none;
    background-color: var(--accent50);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.appDetails .description button.download img {
    height: 1em;
    width: 1em;
    padding: 0px 5px;
    filter: none;
}

#software_info {
    color: var(--accent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

video {
    width: 50%;
    /* height: auto; */
    display: block;
    margin: auto;
}

@media (max-width: 320px) {
    .applications {
        flex-direction: column;
    }

}

@media (min-width: 320px) {
    .applications {
        flex-direction: column;
    }

    .appDetails {
        flex-direction: column;
    }

}

@media (min-width: 500px) {

}

@media (min-width: 760px) {
    .applications {
        flex-direction: row;
    }

    .appDetails {
        flex-direction: row;
    }
}